/* Home Page World Map */

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: calc(926 / 1920 * 100%);
  position: relative;
  background: url('imgs/networkmap-lightgrey.svg') no-repeat;
}

.worldMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.worldMap .mapText {
	font-size: 1.7em;
	line-height: 1.2em;
	color: #000;
	position: absolute;
	left: 5%;
	bottom: 5%;
}
.location {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	margin: 0px -13px -13px 0px;
	background-color: #a4cd39;
	overflow: visible;
	position: absolute;
	z-index: 30;
}
.location.staBarbara , .location.uk {
	width: 16px;
	height: 16px;
	background-color: #ffcd05;
	margin: 0px -13px -13px 0px;
}

.location .infoBox {
	border-left: 5px solid #a6ce39;
  visibility: hidden;
}

.location .infoBox img.t0m4 {
	height: 4em;
}
.location .infoBox img.t1m0 {
	height: 5em;
}
.location .infoBox img.t2m0 {
	height: 6em;
}

.location .infoBox .info-header {
  font-family: "Heebo", Arial,sans-serif;
  font-weight: bold;
  font-size:110%;
}
.location .infoBox p {
	padding: 0px 15px;
	margin: 0px 0px 0.2em;
}
.location .infoBox p:first-of-type {
	padding-top: .5em;
}
.location .infoBox p:last-of-type {
	padding-bottom: .5em;
}

.location .infoBox .telescopes {
  background-color:rgba(166, 206, 57, 0.5);
  padding-top: 5px;
}

.location .infoBox .content {
  background-color: #a6ce39;
}

.location:hover {
	z-index: 50;
}
.location:hover .infoBox, .location.shown .infoBox, .arrow.shown {
	display: block;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.location.israel, .arrow.israel {
	left: 56%;
    top: 36%;
}
.location.chile, .arrow.chile {
	left: 26.5%;
    top: 78%;
}
.location.staBarbara, .arrow.staBarbara {
	left: 13%;
	top: 35%;
}
.location.uk, .arrow.uk {
	left: 45.5%;
	top: 22%;
}
.location.china, .arrow.china {
	left: 68.554%;
	top: 36.634%;
}
.location.hawaii, .arrow.hawaii {
	left: 3%;
	top: 47%;
}
.location.texas, .arrow.texas {
	left: 18%;
	top: 38%;
}
.location.tenerife, .arrow.tenerife {
	left: 41%;
	top: 40%;
}
.location.southAfrica, .arrow.southAfrica {
	left: 52.5%;
	top: 81%;
}
.location.australia, .arrow.australia {
	left: 88%;
	top: 81%;
}
.location.israel .infoBox {
	width: 13.286em;
	margin-left: -5.996em;
	margin-top: -11em;
}
.location.chile .infoBox {
	width: 22.1em;
	margin-left: -18.812em;
	margin-top: -4.409em;
	/*-webkit-transition: margin-left 0.5s;
	transition: margin-left 0.5s;*/
}
.location.staBarbara .infoBox {
	width: 15em;
	margin-left: -6.231em;
	margin-top: -8.818em;
  background-color: #ffcd05;
  border:none;
}
.location.uk .infoBox {
	width: 15em;
	margin-left: -14.756em;
	margin-top: -2.764em;
  background-color: #ffcd05;
  border:none;
}
.location.china .infoBox {
	width: 13.932em;
	margin-left: 0em;
	margin-top: -6.9em;
}
.location.hawaii .infoBox {
	width: 15.108em;
	margin-left: 0em;
	margin-top: 2.941em;
}
.location.texas .infoBox {
	width: 15.343em;
	margin-left: -8.235em;
	margin-top: 3.117em;
}
.location.tenerife .infoBox {
	width: 14.168em;
	margin-left: -15.235em;
	margin-top: -2.882em;
	/*-webkit-transition: margin-left 0.5s;
	transition: margin-left 0.5s;*/
}
.location.southAfrica .infoBox {
	width: 19em;
	margin-left: -7.3em;
	margin-top: -14.235em;
}
.location.australia .infoBox {
	width: 22em;
	margin-left: -19.647em;
	margin-top: -6.294em;
	/*-webkit-transition: margin-left 0.5s;
	transition: margin-left 0.5s;*/
}


@media screen and (max-device-width : 1745px), screen and (max-width: 1745px) {
    .location .infoBox {
        font-size: 16px;
    }
    .location.tenerife .infoBox {
		margin-left: -14.235em;
	}


}

@media screen and (max-device-width : 1588px), screen and (max-width: 1588px) {
    .location .infoBox {
        font-size: 15px;
    }
    .location.chile .infoBox {
  		margin-left: -16.812em;
      margin-top: -12em;
    }
    .location.australia .infoBox {
  		margin-left: -17.8em;
      margin-top: -12em;
    }

	.location.texas .infoBox {
		margin-left: -9.35em;
    	margin-top: 2.3em;
		/*-webkit-transition: margin-left 0.5s,  margin-top 0.5s;
		transition: margin-left 0.5s, margin-top 0.5s;*/
	}

}
@media screen and (max-device-width : 1381px), screen and (max-width: 1381px) {
    .location .infoBox {
        font-size: 14px;
    }
    .worldMap .mapText {
    	font-size: 1.3em;
    }
}
@media screen and (max-device-width : 1273px), screen and (max-width: 1273px) {
    .location .infoBox {
        font-size: 13px;
    }
    .worldMap .mapText {
    	font-size: 1.2em;
    }
    .location .infoBox img.t0m4 {
      height:2em;
    }
    .location .infoBox img.t1m0 {
      height:3em;
    }
    .location .infoBox img.t2m0 {
      height:4em;
    }
}
@media screen and (max-device-width : 1197px), screen and (max-width: 1197px) {
    .location .infoBox {
        font-size: 12px;
    }
	.location.hawaii .infoBox {
		margin-left: 0em;
	}
}
@media screen and (max-device-width : 1045px), screen and (max-width: 1045px) {
	.location.hawaii .infoBox {
		margin-left: 0em;
	}
    .worldMap .mapText {
    	font-size: 1em;
    }
}
@media screen and (max-device-width : 767px), screen and (max-width: 767px) {

	.worldMap .mapText {
		font-size: .8em;
	}
	.location .infoBox {
		margin-right: 0px !important;
		margin-bottom: 0px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		position: fixed;
		left: 20%;
		top: 80px;
		z-index: 9999;
	}

}
@media screen and (max-device-width : 500px), screen and (max-width: 500px) {
	.worldMap .mapText {
		display: none;
	}
}
